<li>Reply to:-<strong>{{answer.replyto}}</strong> <br>Answer:{{answer.jibu}} <br>Feedback:{{answer.feedback}}<br><h4>By:-{{answer.name}}</h4></li>

<button {{action 'delete' answer}} class="btn btn-danger">Delete answer</button>
