 <li>
  {{#link-to 'know' know.id}}{{know.author}}'s question is:-<strong>{{know.question}}</strong>{{/link-to}}
  {{#if isExploreShowing }}
    <p>NOTE:<strong>{{know.explore}}</strong></p>
    <button {{action 'exploreHide'}}>Hide.</button>
  {{else}}
    <button {{action 'exploreShow'}} class="btn btn-submit">How the question erupted.</button>
  {{/if}}
</li>
