My name is {{know.author}}, and I was just {{know.explore}} and I just thought of <strong>{{know.question}}</strong>
<br>
<button {{action 'delete' know}} class="btn btn-danger">Delete Question</button>

<h2>Answers</h2>
<ul>
  {{#each know.answers as |answer|}}
  {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
</ul>

<!--button {{action 'delete' know}}>Delete Question</button>
